<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    hi
    <h1>It's a <%=dayOfWeek%>!</h1>
  </body>
</html>
