
<%-include("header")%>

    <div class="box" id="heading">
      <h1><%=dayOfWeek%></h1>
    </div>

    <div class="box">
      <% for (let i = 0; i < myTasks.length ; i++) {%>
        <div class="item">
          <input type="checkbox">
          <p><%=myTasks[i]%></p>
        </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="task" placeholder="What do you need to do?" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>

    </div>
<%-include("footer")%>
