<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1><%=dayOfWeek%></h1>
    <ul>
      <%console.log(myTasks.length)%>
      <% for (var i = 0; i < myTasks.length ; i++) {%>
        <li> <%=myTasks[i]%> </li>
      <% } %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="task" placeholder="What do you need to do?">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
