<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=dayOfWeek%></h1>
    </div>

    <div class="box">
      <% for (let i = 0; i < myTasks.length ; i++) {%>
        <div class="item">
          <input type="checkbox">
          <p><%=myTasks[i]%></p>
        </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="task" placeholder="What do you need to do?" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>

    </div>


  </body>
</html>
