
<%-include("partials/header")%>

<h1>
  Compose
</h1>
<form class="" action="/" method="post">
  <h4>Title</h4>
  <input type="text" class="form-control" name="postTitle" value="" placeholder="Write post here">
  <h4>Body</h4>
  <textarea class="form-group col-md-12 col-xs-6" name="postBody" rows="8"></textarea>
  <br>
  <button type="submit" class="btn btn-lg btn-primary" name="postButton">Submit</button>
</form>

<%-include("partials/footer")%>
